# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: everoute/release
  tag: "latest"

bridgeName: cnibr0
enableCNI: true
CNIConf:
  localGwIP: 100.64.254.254
  enableProxy: true
