
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: everoute-controller
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - secrets
  verbs:
  - patch
  - create
  - update
  - delete
  - get
  - list
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - update
  - get
- apiGroups:
    - networking.k8s.io
  resources:
    - networkpolicies
  verbs:
    - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - agent.everoute.io
  resources:
  - agentinfos
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - group.everoute.io
  resources:
  - groupmembers
  - groupmemberspatches
  - endpointgroups
  verbs:
  - patch
  - create
  - update
  - delete
  - deletecollection
  - get
  - list
  - watch
- apiGroups:
  - security.everoute.io
  resources:
  - tiers
  - securitypolicies
  - endpoints
  - endpoints/status
  - globalpolicies
  verbs:
  - patch
  - create
  - update
  - delete
  - deletecollection
  - get
  - list
  - watch
  - create
- apiGroups:
  - policyrule.everoute.io
  resources:
  - policyrules
  - policyrules/status
  verbs:
  - patch
  - create
  - update
  - delete
  - deletecollection
  - get
  - list
  - watch
