---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validator.everoute.io
webhooks:
  - admissionReviewVersions: ["v1"]
    sideEffects: None
    clientConfig:
      # CaBundle must set as the ca for secret everoute-controller-tls.
      caBundle:
      service:
        name: everoute-validator-webhook
        namespace: kube-system
        path: /validate/crds
        port: 9443
    failurePolicy: Fail
    name: validator.everoute.io
    rules:
      - apiGroups:
          - security.everoute.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - securitypolicies
          - endpoints
          - globalpolicies
      - apiGroups:
          - group.everoute.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
          - DELETE
        resources:
          - endpointgroups

---
apiVersion: v1
kind: Service
metadata:
  name: everoute-validator-webhook
  namespace: kube-system
spec:
  type: ClusterIP
  ports:
    - port: 9443
      protocol: TCP
      # This port should match port everoute-controller exposed.
      targetPort: 9443
  selector:
    app: everoute
    component: everoute-controller
---
apiVersion: v1
kind: Secret
metadata:
  name: everoute-controller-tls
  namespace: kube-system
type: kubernetes.io/tls
data:
  tls.crt: ""
  tls.key: ""
